openapi: 3.2.0
info:
  title: NuGet Server API (V3) Autocomplete Package API
  description: Minimal OpenAPI definition for the NuGet V3 HTTP protocol covering the service index, package content (PackageBaseAddress), package metadata (RegistrationsBaseUrl), search, autocomplete, and package publish.
  version: '3'
  x-generated-from: https://learn.microsoft.com/en-us/nuget/api/overview
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://api.nuget.org/v3
  description: nuget.org V3 service host
tags:
- name: Package
paths:
  /package:
    put:
      summary: Push a package (PackagePublish)
      operationId: pushPackage
      security:
      - apiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                package:
                  type: string
                  format: binary
      responses:
        '201':
          description: Created
        '202':
          description: Accepted
      tags:
      - Package
  /package/{id}/{version}:
    parameters:
    - $ref: '#/components/parameters/PackageId'
    - in: path
      name: version
      required: true
      schema:
        type: string
    delete:
      summary: Delete or unlist a package (PackagePublish)
      operationId: deletePackage
      security:
      - apiKeyAuth: []
      responses:
        '204':
          description: No Content
      tags:
      - Package
components:
  parameters:
    PackageId:
      in: path
      name: id
      required: true
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-NuGet-ApiKey
