openapi: 3.2.0
info:
  title: NuGet Server API (V3) Autocomplete Flatcontainer API
  description: Minimal OpenAPI definition for the NuGet V3 HTTP protocol covering the service index, package content (PackageBaseAddress), package metadata (RegistrationsBaseUrl), search, autocomplete, and package publish.
  version: '3'
  x-generated-from: https://learn.microsoft.com/en-us/nuget/api/overview
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://api.nuget.org/v3
  description: nuget.org V3 service host
tags:
- name: Flatcontainer
paths:
  /flatcontainer/{id}/index.json:
    parameters:
    - $ref: '#/components/parameters/PackageId'
    get:
      summary: Enumerate package versions (PackageBaseAddress)
      operationId: getPackageVersions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
      tags:
      - Flatcontainer
  /flatcontainer/{id}/{version}/{id2}.{version2}.nupkg:
    parameters:
    - $ref: '#/components/parameters/PackageId'
    - in: path
      name: version
      required: true
      schema:
        type: string
    - in: path
      name: id2
      required: true
      schema:
        type: string
    - in: path
      name: version2
      required: true
      schema:
        type: string
    get:
      summary: Download package content (.nupkg)
      operationId: downloadPackageContent
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      tags:
      - Flatcontainer
  /flatcontainer/{id}/{version}/{id2}.nuspec:
    parameters:
    - $ref: '#/components/parameters/PackageId'
    - in: path
      name: version
      required: true
      schema:
        type: string
    - in: path
      name: id2
      required: true
      schema:
        type: string
    get:
      summary: Download package manifest (.nuspec)
      operationId: downloadPackageManifest
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                type: string
      tags:
      - Flatcontainer
components:
  schemas:
    GenericObject:
      type: object
      additionalProperties: true
  parameters:
    PackageId:
      in: path
      name: id
      required: true
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-NuGet-ApiKey
