openapi: 3.2.0
info:
  title: NuGet Server Service Index API
  description: The NuGet Server API is a set of HTTP endpoints used to download packages, fetch metadata, publish new packages, and perform other operations against a NuGet package source. The V3 API uses JSON as its underlying media type and is accessed through a service index located at https://api.nuget.org/v3/index.json, which enumerates all available resources and capabilities. This specification covers the service index and package publish endpoints.
  version: '3.0'
  contact:
    name: NuGet Support
    url: https://github.com/NuGet/Home/issues
  termsOfService: https://www.nuget.org/policies/Terms
  license:
    name: Creative Commons Attribution 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
- url: https://api.nuget.org/v3
  description: NuGet.org V3 API
- url: https://www.nuget.org/api/v2
  description: NuGet.org Package Publish Endpoint
security: []
tags:
- name: Service Index
  description: The service index is the entry point for the NuGet V3 API. It is a JSON document that lists all available resources and their capabilities.
paths:
  /index.json:
    get:
      operationId: getServiceIndex
      summary: Get the service index
      description: Retrieves the service index, which is a JSON document listing all available resources on the NuGet package source. Clients use this document to discover the URLs for search, registration, package content, catalog, and other API resources.
      tags:
      - Service Index
      responses:
        '200':
          description: The service index document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceIndex'
components:
  schemas:
    ServiceIndex:
      type: object
      description: The service index document that lists all available NuGet API resources.
      required:
      - version
      - resources
      properties:
        version:
          type: string
          description: The schema version of the service index. The major version must be 3.
          example: 3.0.0
        resources:
          type: array
          description: The list of resources available on this package source.
          items:
            $ref: '#/components/schemas/ServiceIndexResource'
    ServiceIndexResource:
      type: object
      description: A resource available on the NuGet package source.
      required:
      - '@id'
      - '@type'
      properties:
        '@id':
          type: string
          format: uri
          description: The URL to the resource.
        '@type':
          type: string
          description: A string representing the resource type, such as SearchQueryService, RegistrationsBaseUrl, PackageBaseAddress, PackagePublish, or Catalog.
        comment:
          type: string
          description: A human-readable description of the resource.
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-NuGet-ApiKey
      in: header
      description: An API key obtained from the NuGet package source. Required for push, delete, and relist operations.
externalDocs:
  description: NuGet Server API Documentation
  url: https://learn.microsoft.com/en-us/nuget/api/overview
